h1{
    background-color:dimgray;
    font-size: large;font-style:inherit;
}
#A{
    background-color:crimson;
    border: 10px orange outset;
    
}

#B{
    background-color: lightcoral;
    border: 10px black outset;
}
div{border: 5px purple;
    background-color: aqua;
    font-style: italic;
   }
   h2{
    
    font-size: medium;
    font-style: italic;
    background-color: red;
    
   }
   h3{
    font-size: medium;
    font-style: italic;
    background-color:orange;

   }
   h4{ font-size: medium;
    font-style: italic;
    background-color:yellow;

   }
   h5{font-size: medium;
    font-style: italic;
    background-color:green;

   }